<section>
    <div class="container">
        <div class="jumbotron">
            <h3>Times-News Interactive Golf Map</h3>
            <p>Sponsored by Nichols Dodge Chrysler Jeep</p>
        </div>
        <div class="col-md-10 map_container">
             <!-- map is here -->
             <div id="map"></div>
        </div>
        <div class="col-md-2">
            <div id="class"  ng-repeat="marker in markers | orderBy : 'title'">
                <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a><br />
            </div>
            <div id="class">
                <a href="#" ng-click="restartMap($event)">Reset Map</a>
            </div>
        </div>
    </div>
</section>

<!--
<div ng-controller="MapCtrl">
    <h1>Map</h1>
    <div map-canvas id="map-canvas"></div>
</div>
-->
