<!DOCTYPE html>
<html ng-app="golfApp" ng-controller="MapCtrl">
    <!-- built by Roger Creasy roger.creasy@gmail.com -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Times-News Interactive Golf Map</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h3>Times-News Interactive Golf Map</h3>
        <p>Sponsored by Nichols Dodge Chrysler Jeep</p>
    </div>
    <div class="row">
        <div class="col-md-10 map_container">
            <div id="map"></div>
        </div>
        <div class="col-md-2 marker-nav">
            <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a><br />
            </div>
            <div id="class">
                <a href="#" ng-click="restartMap($event)">Reset Map</a>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-12">
            &copy; 2015 Times-News Publishing <!-- Todo add footer content -->
        </div>
    </div>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
<script src="scripts/golfApp.js"></script>
<script src="scripts/golfControllers.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOWXB5e79M1vLJv2oIwLtMO7WOKNq6ru0"></script>
</body>
</html>
